In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('movie_data.csv')

In [3]:
data.head()

                                              review  sentiment
0  In 1974, the teenager Martha Moxley (Maggie Gr...          1
1  OK... so... I really like Kris Kristofferson a...          0
2  ***SPOILER*** Do not read this, if you think a...          0
3  hi for all the people who have seen this wonde...          1
4  I recently bought the DVD, forgetting just how...          0

In [4]:
df_frases = data['review']

In [5]:
df_sentimentos = data['sentiment']

In [6]:
df_frases.head(n=4)

0    In 1974, the teenager Martha Moxley (Maggie Gr...
1    OK... so... I really like Kris Kristofferson a...
2    ***SPOILER*** Do not read this, if you think a...
3    hi for all the people who have seen this wonde...
Name: review, dtype: object

In [7]:
df_sentimentos.head(n=4)

0    1
1    0
2    0
3    1
Name: sentiment, dtype: int64

In [8]:
num_words = 100

In [9]:
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [10]:
tokenizer = Tokenizer(num_words=num_words)

In [11]:
tokenizer.fit_on_texts(df_frases.values)

In [12]:
#tokenizer.word_index

In [13]:
sequences = tokenizer.texts_to_sequences(df_frases)

In [14]:
sequences[0]

[8,
 1,
 5,
 1,
 4,
 20,
 1,
 4,
 59,
 13,
 8,
 1,
 4,
 40,
 2,
 40,
 1,
 35,
 6,
 3,
 12,
 45,
 8,
 15,
 8,
 2,
 5,
 5,
 1,
 16,
 24,
 16,
 1,
 4,
 3,
 1,
 2,
 77,
 21,
 93,
 18,
 16,
 1,
 4,
 1,
 12,
 13,
 8,
 4,
 1,
 8,
 1,
 33,
 1,
 2,
 3,
 4,
 2,
 5,
 1,
 7,
 7,
 8,
 6,
 3,
 49,
 17,
 16,
 1,
 64,
 4,
 3,
 4,
 3,
 12,
 13,
 31,
 3,
 13,
 3,
 1,
 2,
 65,
 5,
 1,
 15,
 51,
 71,
 3,
 2,
 8,
 13,
 5,
 85,
 1,
 13,
 1,
 1,
 4,
 2,
 1,
 4,
 8,
 18,
 46,
 6,
 3,
 4,
 1,
 8,
 1,
 56,
 6,
 7,
 7,
 21]

In [16]:
from keras.preprocessing import sequence

In [ ]:
prep.